{% extends "app.jinja" %}

{% block content %}
    <div class="theme-area">
        <div class="content">
            <div class="container">
                <h1>Sponsor</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
          <p>To cover expenses of conference, we are calling for sponsorships of HKOSCon 2017 and look for potential sponsors.</p>
          <p>We would like to thank the following sponsors.</p>

          <div class="sponsor-types">
            <h3>Gold</h3>
            <div class="sponsor-type">
              <div class="row">
                <div class="col s3">
                  <p class="logo">
                    <a href="http://gandi.net" title="Gandi.net" target="_blank">
                      <img src="//2016.opensource.hk/statics/images/sponsors/gandi_logo_black.jpg" alt="Gandi.net logo">
                    </a>
                  </p>
                </div>
                <div class="col s9 description">
                    <h3>Gandi.net</h3>
                    <p>
                      Gandi is the No Bullshit™ domain name registrar and hosting provider.
                      Created in France in 1999, Gandi is now present in 3 continents,with offices
                      in Paris, San Francisco, Luxembourg,and Taipei. We position ourselves as the
                      next port of call for those who want to create an online presence, right after
                      Internet access providers, since domain names are the firststep in creating
                      your own piece of the Internet.
                    </p>
                    <div>
                      <a class="waves-effect waves-light btn" target="_blank" href="https://www.gandi.net/" role="button">Gandi.net Website</a>
                    </div>
                </div>
              </div>
            </div> <!-- gold -->
            <h3>Prize Sponsor</h3>
            <div class="sponsor-type">
              <div class="row">
                <div class="col s3">
                  <p class="logo">
                    <a href="https://www.jetbrains.com/" title="JetBrains" target="_blank">
                      <img src="//2016.opensource.hk/statics/images/sponsors/logo_jetbrains_3_500.jpg" alt="JetBrains logo">
                    </a>
                  </p>
                </div>
                <div class="col s9 description">
                    <h3>JetBrains</h3>
                    <p>
                      JetBrains PyCharm is the intelligent Python IDE for Professional Developers
                      providing a complete set of tools for productive Python, Web and Scientific
                      development. PyCharm comes in two editions. The free and open-source PyCharm
                      Community Edition is perfect for pure Python and scientific development.
                      PyCharm Professional Edition is designed for professional Python and Web
                      developers.
                    </p>
                    <div>
                      <a class="waves-effect waves-light btn" target="_blank"
                      href="https://www.jetbrains.com/" role="button">JetBrains Website</a>
                    </div>
                </div>
              </div>
            </div> <!-- general -->
          </div> <!-- sponsor-types -->

          <div class="sponsor-types">
            <h3>Patrons</h3>
            <div class="sponsor-type">
              <div class="row">
                <div class="col s12">
                  <ul>
                    <li>Patron 1</li>
                    <li>Patron 2</li>
                    <li>Patron 3</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div> <!-- content -->
    </div> <!-- container -->
{% endblock %}
