{% extends "app.jinja" %}

{% block content %}
    <div class="theme-area">
        <div class="content">
            <div class="container">
                <h1>Sponsor</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
          <p>
            An event of the size of PyCon Hong Kong has huge expenses involved with it. These expenses fall broadly into three categories:
          </p>
          <ul>
            <li>Financial Aids Programme for Speakers and Participants Travel and Accommodation</li>
            <li>Venue and Infrastructure Expenses</li>
            <li>Marketing, Printing and Administration Expenses</li>
          </ul>
          <p>
            We would very much like to seek your help in sponsoring these expenses.
          </p>
          <p>
            Platinum, Gold, Silver, Bronze, General, Custom, Education sponsor levels and Patrons are available.
          </p>
        </div>
    </div>
{% endblock %}
