{% extends "app.jinja" %}

{% block style %}
    <style>
        #cfp img {width: 100%;}
        .row {margin-bottom: 0;}
        .col {padding: 0 !important;}
        #content {
            position: absolute;
            margin-left: 9%;
            margin-top: 15%;
            z-index: 10;
            text-align: center;
        }
        .btn {font-weight: bold}
        h1 {border-radius: 3px; padding:5px;}
        @media only screen and (max-width: 600px) {
            h1 {font-size: 1.2em; margin-bottom: 0;}
            #content {margin-left: 15%; margin-top: 17%;}
        }
        @media only screen and (min-width: 601px) and (max-width: 1200px) {
            #content {width: 50%;}
        }
    </style>
{% endblock %}

{% block content %}
    <div id="cfp" class="container box">
        <div id="content">
            <h1 class="blue-theme yellow-theme-text">We want you to be our speakers</h1>
            <a href="https://goo.gl/forms/fmNjTshYMZlaaKo02" target="_blank" class="btn sharp">Submit Your Proposal</a>
        </div>
        <div class="row">
            <div class="col s10 push-s1">
                <img src="/2017/images/cfp/jserv.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col s5 push-s1">
                <img src="/2017/images/cfp/elastic.jpg">
            </div>
            <div class="col s5 push-s1">
                <img src="/2017/images/cfp/chainsaw.jpg">
            </div>
        </div>

        <div class="card">
            <div class="title">
                <h1 class="title-text headline">Call For Proposal</h1>
            </div>
            <div class="content">
                <ul class="browser-default">
                    <li>Deadline: 12 Feb, 2017 (Sat)</li>
                    <li>
                        Link:
                        <a href="https://goo.gl/forms/fmNjTshYMZlaaKo02" target="_blank">
                            https://goo.gl/forms/fmNjTshYMZlaaKo02
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}