{% extends "app.jinja" %}

{% block style %}
    <style>
        #cfp img {width: 100%;}
        .row {margin-bottom: 0;}
        .col {padding: 0 !important;}
        #content {
            position: absolute;
            margin-left: 9%;
            margin-top: 15%;
            z-index: 10;
            text-align: center;
        }
        .btn {font-weight: bold}
        h1 {border-radius: 3px; padding:5px;}
        @media only screen and (max-width: 600px) {
            h1 {font-size: 1.2em; margin-bottom: 0;}
            #content {margin-left: 15%; margin-top: 17%;}
        }
        @media only screen and (min-width: 601px) and (max-width: 1200px) {
            #content {width: 50%;}
        }
    </style>
{% endblock %}

{% block content %}
    <div id="cfp" class="container box">
        <div id="content">
            <h1 class="blue-theme yellow-theme-text">We want you to be our speakers</h1>
            <a href="https://goo.gl/forms/fmNjTshYMZlaaKo02" target="_blank" class="btn sharp">Submit Your Proposal</a>
        </div>
        <div class="row">
            <div class="col s10 push-s1">
                <img src="/2017/images/cfp/jserv.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col s5 push-s1">
                <img src="/2017/images/cfp/elastic.jpg">
            </div>
            <div class="col s5 push-s1">
                <img src="/2017/images/cfp/chainsaw.jpg">
            </div>
        </div>

        <div class="card">
            <div class="title">
                <h1 class="title-text headline">Call For Proposal</h1>
            </div>
            <div class="content">
                <p>
                Thank for your supports for previous Hong Kong Open Source Conferences (HKOSCon). It helps the success of HKOSCon in last 4 years.
                </p>
                <p>
                We are now calling for proposals (CFP) for 5th Hong Kong Open Source Conference. We hopes you and your friends will submit proposals and join us at our conference again this year.
                </p>
                <ul class="browser-default">
                    <li>Date of Conference: 9-10 June 2017 (Fri - Sat)</li>
                    <li>Venue & Sponsor: Cyberport, Hong Kong.</li>
                    <li>Tentative Format: Single main track on Friday, 2 main tracks on Saturday. Additional  workshops, talks and activities will be also available on additional 3 tracks at small rooms.</li>
                    <li>Targeted number of participants: 350 (same as number of attendance in 2016)</li>
                    <li>
                        Link:
                        <a href="https://goo.gl/forms/fmNjTshYMZlaaKo02" target="_blank">
                            https://goo.gl/forms/fmNjTshYMZlaaKo02
                        </a>
                    </li>
                    <li>Deadline: 12 Feb, 2017 (Sat)</li>
                </ul> 
                <p>
                  "Sharing & Learning" is main activities at any conferences, and we should also keep in mind: "communication in person" is the key activity to exchange skills, ideas and thinkings between every participants (speakers, sponsors, organisers, helpers, general audiences). So, We hopes if we can try more on the followings.
                  <ul class="browser-default">
                      <li>
                        HKOSCon helps to share & promote your latest open source projects, works, and experiences, and hopes participants can contribute to your projects, and promote your projects outsides the conference (at work, at family and friends)
                      </li>
                      <li>
                        HKOSCon helps to develop & grow the global & local open source community (developers & users) by size and number of projects.
                      </li>
                      <li>
                        Raise the public awareness to open source technology (companies, governments, organisations, general public)
                      </li>
                  </ul>      
                </p>               
                <p>
                  If you any any enquiries and suggestions, please feel freely to contact with our program team at conference@opensource.hk.
                </p>
            </div>            
        </div>
        
        <div class="card">
            <div class="title">
                <h1 class="title-text headline">徵求建議書</h1>
            </div>
            <div class="content">
                <p>感謝你支持香港開源年會 (HKOSCon) ，你的擁躍支持幫助過去四年 HKOSCon 得以成功舉行。</p>
                <p>我們剛展開第五屆香港開源年會的稿件收集 CFP，希望你和朋友能再次投稿，多少無拘，今年再來參加 HKOSCon。</p>
                <ul class="browser-default">
                    <li>會議日期: 2017 年 6 月 9-10 日 (五－六)</li>
                    <li>場地及贊助: 香港數碼港 Cyberport</li>
                    <li>暫定形式: 星期五單一主軌，星期六雙主軌，另有三間小房作演講及工作坊等活動</li>
                    <li>預計參加人數: 350 (與 2016 年出席人數相約)</li>
                    <li>
                        Link:
                        <a href="https://goo.gl/forms/fmNjTshYMZlaaKo02" target="_blank">
                            https://goo.gl/forms/fmNjTshYMZlaaKo02
                        </a>
                    </li>
                    <li>提交稿件截止日: 2017 年 2 月 12 日 (六)</li>
                </ul> 
                <p>
                「分享及學習」是任何會議的主要活動，同時我們亦要記著：「親身溝通」，這是會議裡每一位參與者之間 (講者、贊助商、主辦者、工作人員、會眾) 的主要活動，來交流技術心得、新點子、想法。所以我們希望我們多些嘗試以下做法。
                  <ul class="browser-default">
                      <li>HKOSCon 協助分享和推廣你最近的 open source projects、工作和經驗，希望參加者能>回來貢獻你的 projects 及推廣給會議以外的人 (工作上、家庭和朋友)</li>
                      <li>HKOSCon 協助發展和擴大國際和本地 open source 社群 (開發者及用家) (社群大小和projects數量)</li>
                      <li>提升公眾對 open source 技術的關注 (例如公司、政府、團體、大眾)</li>
                  </ul>      
                </p>               
                <p>如果你有任何查詢或提議，歡迎你跟我們的議程團隊聯系 (conference@opensource.hk)。</p>
            </div>            
        </div>
    </div>
{% endblock %}
