{% extends "app.jinja" %}

{% block content %}
    <div class="theme-area">
        <div class="content">
            <div class="container">
                <h1>Call For Proposals Results</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
          <h3>CFP Results are Here!</h3>
          <p>We are pleased to announce the CFP results. We have received
            <strong>26</strong> submissions
            before our deadline 2017/08/31 23:00 (GMT+8). The volunteers in our
            Program Committee had a hard time to shortlist them to fit in our agenda.
          </p>
          <p>Here is the list of the accepted CFP topics, along with some invited sessions &amp; confirmed sponsor sessions:</p>
          <ul class="cpf-results">
              <li>Topic 1 (Speaker Name 1) (Remark 1)</li>
              <li>Topic 2 (Speaker Name 2) (Remark 2)</li>
          </ul> <!-- cpf-results -->
          <p></p>
          <h2>More Information</h2>
          <p class="link">We're constantly updating our Facebook. Please subscribe our
            <a href="https://www.facebook.com/pyconhk/" target="_blank">Facebook Page</a>
            for more updates.
          </p>
          <p class="link">For enquiry/any special requests, please feel free to contact us at
            <a href="mailto:pycon@pycon.hk">pycon@pycon.hk</a>
          </p>
      </div> <!-- content -->
    </div> <!-- container -->
{% endblock %}
