<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="description" content="{% block meta_desc %}Hong Kong Open Source Conference 2017 (HKOSCon 2017) will be hosted in 9-10 June.{% endblock %}" />
    <meta name="author" content="Hong Kong Open Source Conference 2017" />
    <meta property="og:site_name" content="Hong Kong Open Source Conference 2017" />
    <meta property="og:title" content="{% block title %}Hong Kong Open Source Conference 2017{% endblock %}" />
    <meta property="og:url" content="{% block og_url %}http://hkoscon.org/2017/{% endblock %}" />
    <meta property="og:image" content="{% block og_image %}http://file.hkoscon.org/og/2017.png{% endblock %}" />
    <meta property="og:type" content="{% block og_type %}article{% endblock %}" />
    <meta property="og:description" content="{% block og_desc %}Hong Kong Open Source Conference 2017 HKOSCon (2017.06.09-10) is a annual international open source conference in Hong Kong. It is aimed to demonstrate the use of open source software technology, open hardware technology and latest development in the world.{% endblock %}" />
    <title>Hong Kong Open Source Conference 2017 // 香港開源年會 2017</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/2017/app.css" rel="stylesheet" >
    <link href="/favicon.ico" rel="icon">
    <link href="/2017/manifest.json" rel="manifest">
    {% block style %}{% endblock %}
</head>
<body>
{% include "navbar.jinja" %}
<main>{% block content %}{% endblock %}</main>
{% include "footer.jinja" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.4.0/velocity.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax.js/1.4.2/parallax.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.js" defer></script>
<script src="/2017/js/app.js" defer></script>
<script src="https://hkoscon.org/ga.js" defer async></script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
{% block script %}{% endblock %}
</body>
</html>
