<footer class="page-footer">
    <div class="container">

    </div>
    <div class="footer-copyright">
        <a href="http://creativecommons.org/licenses/by-sa/3.0/hk/" target="_blank">
            <img src="https://licensebuttons.net/l/by-sa/3.0/hk/88x31.png" height="31" width="88">
        </a>
        This work is licensed under a
        <a href="http://creativecommons.org/licenses/by-sa/3.0/hk/" target="_blank">
            Creative Commons Attribution-ShareAlike 3.0 Hong Kong License
        </a>.
        Logos and trademarks belong to their respective owners.
    </div>
</footer>