<footer class="page-footer">
    <div class="contacts">
      <ul>
          <li>
            <a href="https://medium.com/@pyconhk/" target="_blank" title="medium.com/@pyconhk"><i class="fa fa-medium" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://facebook.com/pyconhk/" target="_blank" title="facebook.com/pyconhk"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/pyconhk/" target="_blank" title="twitter.com/hkoscon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="mailto:pycon@pycon.hk" title="pycon at pycon.hk"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          </li>
      </ul>
    </div>
    <div class="copyright">
        <a class="cc-logo" href="http://creativecommons.org/licenses/by-sa/3.0/hk/" target="_blank">
            <img src="https://licensebuttons.net/l/by-sa/3.0/hk/88x31.png" height="31" width="88"
                  alt="Creative Commons Attribution-ShareAlike 3.0 Hong Kong">
        </a>
        <div class="cc-info">
          This work is licensed under a
          <a href="http://creativecommons.org/licenses/by-sa/3.0/hk/" target="_blank">
              Creative Commons Attribution-ShareAlike 3.0 Hong Kong License
          </a>.
        </div>
        <div class="extras">
          Logos and trademarks belong to their respective owners.
        </div>
    </div>
</footer>
