<div class="navbar depth-1">
    <div class="nav-wrapper">
        <a href="/2017/" class="brand">HKOSCon 2017</a>
        <span class="flex"></span>
        <a class="btn sharp" href="/2017/join">Join Us</a>
    </div>
</div>