<nav>
    <div class="nav-wrapper container">
        <a href="/2017/" class="brand-logo yellow-theme-text">HKOSCon 2017</a>
        <ul class="left">
            <li>
                <a href="#" data-activates="sidebar" class="button-collapse show-on-large">
                    <i class="material-icons">menu</i>
                </a>
            </li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a class="btn sharp" href="/2017/join">Join Us</a></li>
        </ul>
    </div>
</nav>

<ul id="sidebar" class="side-nav">
    <li class="logo">
        <a href="/2017">
            <img src="/2017/images/favicon.png">
        </a>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a href="#" class="waves-effect collapsible-header">About</a>
                <ul class="collapsible-body">
                    <li><a href="/2017/about/coc.html">Code Of Conduct</a></li>
                    <li><a href="/2017/about/staff.html">Staff</a></li>
                </ul>
            </li>
            <li class="link">
                <a href="/2017/venue">Venue</a>
            </li>
            <li>
                <a href="#" class="waves-effect collapsible-header">Archive</a>
                <ul class="collapsible-body">
                    <li><a href="https://2016.opensource.hk/" target="_blank">HKOSCon 2016</a></li>
                    <li><a href="https://2015.opensource.hk/" target="_blank">HKOSCon 2015</a></li>
                    <li><a href="https://2014.opensource.hk/" target="_blank">HKOSCon 2014</a></li>
                    <li><a href="https://2013.opensource.hk/" target="_blank">HKOSCon 2013</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>