<div class="navbar-fixed">
    <nav>
        <ul class="left">
            <li>
                <a href="#" data-activates="sidebar" class="button-collapse show-on-large">
                    <i class="material-icons">menu</i>
                </a>
            </li>
        </ul>
        <div class="nav-wrapper container">
            <a href="{{ data.site.basePath }}/" class="brand-logo">HKOSCon 2017</a>
        </div>
    </nav>
</div>

<ul id="sidebar" class="side-nav">
    <li class="logo">
        <a href="{{ data.site.basePath }}/">
            <img src="{{ data.site.basePath }}/images/favicon.png">
        </a>
    </li>
    <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
        <li>
            <a href="#" class="bold waves-effect collapsible-header">About</a>
            <ul class="collapsible-body">
                <li><a href="{{ data.site.basePath }}/about/">Organizers</a></li>
                <li><a href="{{ data.site.basePath }}/about/coc.html">Code Of Conduct</a></li>
                <li><a href="{{ data.site.basePath }}/about/staff.html">Staff</a></li>
            </ul>
        </li>
    </ul>
    </li>
    <li class="bold"><a class="waves-effect waves-teal" href="{{ data.site.basePath }}/venue/">Venue</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a href="#" class="bold waves-effect collapsible-header">Archive</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="https://2016.opensource.hk/" target="_blank">HKOSCon 2016</a></li>
                        <li><a href="https://2015.opensource.hk/" target="_blank">HKOSCon 2015</a></li>
                        <li><a href="https://2014.opensource.hk/" target="_blank">HKOSCon 2014</a></li>
                        <li><a href="https://2013.opensource.hk/" target="_blank">HKOSCon 2013</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>
