<div id="sponsors-region">
    <div class="container">

        <div class="section">
            <h2>Organizers</h2>
            <div class="row">
                <div class="col s12 l6">
                    <a href="https://cota.hk" target="_blank">
                        <div class="logo-wrapper">
                            <img class="responsive-img" src="https://file.hkoscon.org/organizer/cota.png"
                                alt="Hong Kong Creative Open Technology Association" />
                        </div>
                        <div class="content">
                            <p class="center">Hong Kong Creative Open Technology Association</p>
                        </div>
                    </a>
                </div>
                <div class="col s12 l6">
                    <a href="https://opensource.hk" target="_blank">
                        <div class="logo-wrapper">
                            <img class="responsive-img" src="https://file.hkoscon.org/organizer/oshk.png"
                                alt="Open Source Hong Kong" />
                        </div>
                        <div class="content">
                            <p class="center">Open Source Hong Kong</p>
                        </div>
                    </a>
                </div>
                <div class="col s12 l6">
                    <a href="http://www.cityu.edu.hk/" target="_blank">
                        <div class="logo-wrapper">
                            <img class="responsive-img" src="https://file.pycon.hk/2017/logos/CityU_Logo_Standard_Signature.png"
                                alt=" City University of Hong Kong " />
                        </div>
                        <div class="content">
                            <p class="center">City University of Hong Kong </p>
                        </div>
                    </a>
                </div>
                <div class="col s12 l6">
                    <a href="http://appslab.hk/" target="_blank">
                        <div class="logo-wrapper">
                            <img class="responsive-img" src="https://file.pycon.hk/2017/logos/main_logo.png"
                                alt="CityU Apps Lab" />
                        </div>
                        <div class="content">
                            <p class="center">CityU Apps Lab</p>
                        </div>
                    </a>
                </div>
            </div>
            <h2>Silver Sponsor</h2>
            <div class="row">
                <div class="col s12">
                    <a href="https://www.python.org/psf/" target="_blank">
                        <div class="logo-wrapper">
                            <img class="responsive-img" src="https://file.pycon.hk/2017/logos/psf.png"
                              alt="Python Software Foundation" />
                        </div>
                        <div class="content">
                            <p class="center">Python Software Foundation</p>
                        </div>
                    </a>
                </div>
            </div>
            <h2>General Sponsors</h2>
            <div class="row">
                <div class="col s12 l4">
                    <a href="http://alvanon.com/" target="_blank">
                        <div class="logo-wrapper">
                            <img class="responsive-img" src="https://file.pycon.hk/2017/logos/alvanon.png"
                              alt="Alvanon" />
                        </div>
                        <div class="content">
                            <p class="center">Alvanon</p>
                        </div>
                    </a>
                </div>
                <div class="col s12 l4">
                    <a href="https://www.axa-im.com.hk/en/" target="_blank">
                        <div class="logo-wrapper">
                            <img class="responsive-img" src="https://file.pycon.hk/2017/logos/axa-im.png"
                              alt="AXA-IM" />
                        </div>
                        <div class="content">
                            <p class="center">AXA Investment ManagersL</p>
                        </div>
                    </a>
                </div>
                <div class="col s12 l4">
                    <a href="https://www.mysql.com/" target="_blank">
                        <div class="logo-wrapper">
                            <img class="responsive-img" src="https://file.pycon.hk/2017/logos/mysql-clr.png"
                              alt="MySQL" />
                        </div>
                        <div class="content">
                            <p class="center">MySQL</p>
                        </div>
                    </a>
                </div>
            </div>
            <h2>Patrons</h2>
            <div class="row">
                <div class="col s12 l12">
                  <p>
                  {% for patron in data.sponsor.patrons %}
                    {{patron}}{{ ", " if not loop.last }}
                  {% endfor %}
                  </p>
                </div>
            </div>
        </div><!--/.section-->

    </div>
</div>
