<div id="sponsors-region">
    <div class="container">

        <div class="section">
            <h2>Organizers</h2>
            <div class="row">
                <div class="col s12 l4">
                    <a href="https://cota.hk" target="_blank">
                        <div class="logo-wrapper">
                            <img class="responsive-img" src="https://file.hkoscon.org/organizer/cota.png"
                                alt="Hong Kong Creative Open Technology Association" />
                        </div>
                        <div class="content">
                            <p class="center">Hong Kong Creative Open Technology Association</p>
                        </div>
                    </a>
                </div>
                <div class="col s12 l4">
                    <a href="https://opensource.hk" target="_blank">
                        <div class="logo-wrapper">
                            <img class="responsive-img" src="https://file.hkoscon.org/organizer/oshk.png"
                                alt="Open Source Hong Kong" />
                        </div>
                        <div class="content">
                            <p class="center">Open Source Hong Kong</p>
                        </div>
                    </a>
                </div>
                <div class="col s12 l4">
                    <a href="http://linux.org.hk" target="_blank">
                        <div class="logo-wrapper">
                            <img class="responsive-img" src="https://file.hkoscon.org/organizer/hklug.jpg"
                              alt="Hong Kong Linux User Group"/>
                        </div>
                        <div class="content">
                            <p class="center">Hong Kong Linux User Group</p>
                        </div>
                    </a>
                </div>
            </div>
        </div><!--/.section-->

        <div class="section">
            <h2>Supporting Organizers</h2>
            <div class="row">
                <div class="col s12 l4 offset-l4">
                    <a href="http://hk.sitcon.org" target="_blank">
                        <div class="logo-wrapper">
                            <img class="responsive-img" src="https://file.hkoscon.org/support/sitcon.png"
                              alt="Hong Kong Student IT Conference" >
                        </div>
                        <div class="content">
                            <p class="center">SITCON x HK</p>
                        </div>
                    </a>
                </div>
            </div>
        </div><!--/.section-->
    </div>
</div>
