{% extends "app.jinja" %}

{% block content %}
<div class="theme-area">
    <div class="content">
        <div class="container">
            <h1>Financial Assistance Application</h1>
        </div>
    </div>
</div>
  <div class="container">
      <div class="content">
        <p>Hong Kong Open Source Conference provides financial assistance to selected individuals to attend Hong Kong OpenSource Conference. 
          The purpose of financial assistance is to give opportunities to local open source developers and supporters access to our region's 
          premier Open Source event. 
        </p>
        <a class="waves-effect waves-light z-depth-2 btn" href="https://goo.gl/forms/rpNLFNeHQ2jPv7Uj2">Apply</a>                  
      </div>
  </div>

{% endblock %}
