{% extends "app.jinja" %}

{% block content %}
<div class="theme-area">
    <div class="content">
        <div class="container">
            <h1>Global F/OSS Community Meeting</h1>
        </div>
    </div>
</div>
  <div class="container">
      <div class="content">

        <p>Registration of Global Community Meeting is opening now. You are welcome to write down your topic and name.</p>
        <a class="waves-effect waves-light z-depth-2 btn" href="https://goo.gl/forms/1LAG9T5VIng3w5MN2">Apply</a>
                  
        <p>Schedule will be published &amp; updated online by conference staff anytime.</p>
        <h3>Schedule of Global F/OSS Community Meeting</h3>
        <div class="iframe-wrapper">
          <iframe class="embed-unconf-sheet" src="https://docs.google.com/spreadsheets/d/1X98U9yVjRwOCGlcZERLUb9DbSDTnUpmiV7BINin9IsI/htmlembed">
          </iframe>            
        </div>
      </div>
  </div>

{% endblock %}
