{% extends "app.jinja" %}

{% block content %}
    <div class="parallax-window" data-parallax="scroll" data-image-src="/2017/images/bg1.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="title">
                        <h2 class="title-text headline">What is HKOSCon?</h2>
                    </div>
                    <div class="content">
                        <p>
                            Hong Kong Open Source Conference is an annual international open source conference in Hong Kong.
                            It is aimed to demonstrate the use of open source software technology,
                            open hardware technology and latest development in the world.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card blue-theme yellow-theme-text">
                    <div class="title">
                        <h2 class="title-text headline">News &amp; Updates</h2>
                    </div>
                    <div class="content">
                        <ul class="browser-default">
                            <li>
                                <a href="/2017/cfp">
                                    [2017/1/9] The Call for Proposals has started! Come and submit yours!
                                </a>
                            </li>
                            <li>
                                <a href="/2017/join">
                                    [2016/12/15] The call for volunteer has started! Come and join us!
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="title">
                        <h2 class="title-text headline">Find Us</h2>
                    </div>
                    <div class="content">
                        <p>
                            You are welcome to find us with links below:
                        </p>
                        <p>
                            <a href="https://facebook.com/hkoscon/" target="_blank" class="blue-theme-text">
                                <i class="fa fa-facebook"></i>
                                facebook.com/hkoscon
                            </a>
                            <br>
                            <a href="https://twitter.com/hkoscon/" target="_blank" class="blue-theme-text">
                                <i class="fa fa-twitter"></i>
                                twitter.com/hkoscon
                            </a>
                            <br>
                            <a href="mailto:conference@opensource.hk" class="blue-theme-text">
                                <i class="material-icons">mail</i>
                                conference at opensource.hk
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-window" data-parallax="scroll" data-image-src="/2017/images/bg2.jpg"></div>
{% endblock %}