{% extends "app.jinja" %}

{% block content %}
    <div id="banner">
        <div class="banner-content">
            <div class="tagline">
                <div class="date">9 - 10 Jun / Cyberport 3, HK</div>
                <div class="slogan">Embracing Open Source's Success</div>
            </div>
            <h1 id="banner-logo" class="circle z-depth-2">
              <span class="logo-text">Hong Kong Open Source Conference 2017</span>
            </h1>
            <div class="actions">
              <a class="waves-effect waves-light z-depth-2 btn">Buy Early Bird Ticket</a>
            </div>
            <div class="contacts">
              <ul>
                  <li>
                    <a href="https://facebook.com/hkoscon/" target="_blank" title="facebook.com/hkoscon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/hkoscon/" target="_blank" title="twitter.com/hkoscon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href="mailto:conference@opensource.hk" title="conference at opensource.hk"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                  </li>
              </ul>
            </div>
        </div>
    </div>
    <div id="introduction">
      <div class="container">
          <div class="row">
              <div class="col s10 offset-s1">
                  <p>
                      The annual international open source event in Hong Kong.
                  </p>
                  <p>
                      <span>HKOSCon demonstrates and promotes the world's latest</span>
                      <span>open source software and hardware technology.</span>
                  </p>
              </div>
          </div>
      </div>
    </div>
    <!--
    <div id="news">
      <div class="container">
          <div class="row">
              <div class="col s12">
                  <div class="card">
                      <div class="title">
                          <h2 class="title-text headline">News &amp; Updates</h2>
                      </div>
                      <div class="content">
                          <ul class="browser-default">
                              <li>
                                  <a href="/2017/cfp">
                                      [2017/1/9] The Call for Proposals has started! Come and submit yours!
                                  </a>
                              </li>
                              <li>
                                  <a href="/2017/join">
                                      [2016/12/15] The call for volunteer has started! Come and join us!
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div><!--/#news-->

    {% include "sponsorsRegion.jinja" %}

    <div class="parallax-window" data-parallax="scroll" data-image-src="/2017/images/bg2.jpg"></div>
{% endblock %}
