{% extends "app.jinja" %}

{% block content %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="banner">
        <div class="banner-content">
            <div class="tagline">
                <div class="date-location">
                  <span class="date">9 - 10 Jun</span>
                  <span class="location">Cyberport 3, Hong Kong</span>
                </div>
                <div class="slogan">Embracing Open Source's Success</div>
            </div>
            <h1 id="banner-logo">
              <span class="logo-text">Hong Kong Open Source Conference 2017</span>
            </h1>
            <div class="actions">
              <a class="waves-effect waves-light z-depth-2 btn" target="_blank" href="{{ data.site.ticketURL }}">Get Early Bird Ticket</a>
            </div>
            <div class="contacts">
              <ul>
                  <li>
                    <a href="https://facebook.com/hkoscon/" target="_blank" title="facebook.com/hkoscon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/hkoscon/" target="_blank" title="twitter.com/hkoscon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href="mailto:conference@opensource.hk" title="conference at opensource.hk"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                  </li>
              </ul>
            </div>
        </div>
    </div>

    <div id="introduction">
      <div class="container">
          <div class="row">
              <div class="col s10 offset-s1">
                  <p>
                      The annual international open source event in Hong Kong.
                  </p>
                  <p>
                      <span>HKOSCon demonstrates and promotes the world's latest</span>
                      <span>open source software and hardware technology.</span>
                  </p>
              </div>
          </div>
      </div>
    </div>

    <div id="days-details"><div class="content-wrapper">
      <div class="container">
          <div class="days-details-slogan">
            <h2>Mark Your Calendar</h2>
            <p>Be prepared for Open Source awesomeness</p>
          </div>
          <div class="days-details-container">
              <div class="day-details day-1">
                  <div class="title-wrapper"><div class="title">
                      <div class="label">
                        <span class="day-name">Day 1</span><span class="day-date"><span class="day">9</span>th Jun, Day 1</span>
                      </div>
                      <h3>Business &amp; Education Day</h3>
                  </div></div>
                  <div class="content">
                      <p class="slogan">Up your game. Keep your gear kicking.</p>
                      <p>
                        Adopt open source solutions to make your business more successful.
                        Refresh the learning journey with open culture.
                      </p>
                      <ul>
                        <li>Keynotes</li>
                        <li>Talks</li>
                        <li>Booths</li>
                      </ul>
                  </div>
              </div>
              <div class="separator hide-on-small-only"></div>
              <div class="day-details day-2">
                  <div class="title-wrapper"><div class="title">
                      <div class="label">
                        <span class="day-name">Day 2</span><span class="day-date"><span class="day">10</span>th Jun, Day 2</span>
                      </div>
                      <h3>Community Day</h3>
                  </div></div>
                  <div class="content">
                      <p class="slogan">Beyond business. Be community.</p>
                      <p>Embrace open source technology and culture.</p>
                      <ul>
                        <li>Keynotes</li>
                        <li>Talks</li>
                        <li>Booths</li>
                        <li>Workshops (Requires extra registration)</li>
                        <li>Unconference</li>
                        <li>Community Meetups</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    </div></div>

    <div id="ticketing"><div class="content-wrapper">

        <div class="title">
            <h2>Tickets</h2>
            <p>Act today to secure your seat</p>
        </div>

        <div class="ticket-types">
          <div class="ticket-type highlight">
            <h3>Early Bird Ticket</h3>
            <div class="price">
              <span class="currency">HK$</span><span class="amount">200</span>
            </div>
            <div class="check-list">
              <ul>
                <li>Admission on Day 1 and Day 2</li>
                <li>Chance to Register Workshop</li>
                <li>T-Shirt</li>
              </ul>
            </div>
            <div class="description">
              <p>Limited-Number. Limited-Time.</p>
              <p>50 Early Bird tickets are available<br/>until 4th April.</p>
              <p>Grab yours!</p>
            </div>
            <div class="action">
              <a class="btn btn-default" target="_blank" href="{{ data.site.ticketURL }}">Buy Now</a>
            </div>
          </div>
          <div class="separator"></div>

          <div class="ticket-type">
            <h3>Full Ticket</h3>
            <div class="price">
              <span class="currency">HK$</span><span class="amount">300</span>
            </div>
            <div class="check-list">
              <ul>
                <li>Admission on Day 1 and Day 2</li>
                <li>Chance to Register Workshop</li>
                <li>T-Shirt</li>
              </ul>
            </div>
            <div class="description">
              <p></p>
            </div>
            <div class="action">
              <span class="btn btn-default" target="_blank" href="{{ data.site.ticketURL }}">Buy Now</span>
            </div>
          </div>
          <div class="separator"></div>

          {#
          <div class="ticket-type highlight">
            <h3>Weekend Ticket</h3>
            <div class="price">
              <span class="currency">HK$</span><span class="amount">200</span>
            </div>
            <div class="check-list">
              <ul>
                <li>Admission on Day 2</li>
                <li>Chance to Register Workshop</li>
                <li>T-Shirt</li>
              </ul>
            </div>
            <div class="description">
              <!-- TODO: write me -->
            </div>
            <div class="action">
              <a class="btn btn-default" target="_blank" href="{{ data.site.ticketURL }}">Buy Now</a>
            </div>
          </div>
          <div class="separator"></div>
          #}

          <div class="ticket-type">
            <h3>Student Ticket</h3>
            <div class="price">
              <span class="currency">HK$</span><span class="amount">100</span>
            </div>
            <div class="check-list">
              <ul>
                <li>Admission on Day 1 and Day 2</li>
                <li>Chance to Register Workshop</li>
                <li>T-Shirt</li>
              </ul>
            </div>
            <div class="description">
              <p>For full time students only.</p>
              <p>Requires student ID and proofs during admission.</p>
            </div>
            <div class="action">
              <a class="btn btn-default" target="_blank" href="{{ data.site.ticketURL }}">Buy Now</a>
            </div>
          </div>
        </div>
    </div></div>

    <div id="patron-programme">
        <div class="title">
            <h2>Patrons Programme</h2>
            <p>Fund students, educators and trainers to come</p>
        </div>
        <div class="description">
            <p>
                Provides financial support to selected individuals from
                universities &amp; schools in Hong Kong to attend Hong Kong OpenSource Conference.
            </p>
        </div>
        <div class="patron-types">

          <div class="patron-type">
            <h3>Basic</h3>
            <div class="price">
              <span class="currency">HK$</span><span class="amount">1,200</span>
            </div>
            <div class="check-list">
              <ul>
                <li>Support Local Students and Educators</li>
                <li>Community Organizer Meeting on Day 1
                (requires pre-registration)</li>
              </ul>
            </div>
            <div class="action">
              <a class="btn btn-default" target="_blank" href="{{ data.site.ticketURL }}">Donate Now</a>
            </div>
          </div>

          <div class="separator"></div>

          <div class="patron-type">
            <h3>Higher Level</h3>
            <div class="price">
              <span class="currency">HK$</span><span class="amount">2,500</span>
            </div>
            <div class="check-list">
              <ul>
                <li>Support Local Students and Educators</li>
                <li>Community Organizer Meeting on Day 1<br/>
                (requires pre-registration)</li>
              </ul>
            </div>
            <div class="action">
              <a class="btn btn-default" target="_blank" href="{{ data.site.ticketURL }}">Donate Now</a>
            </div>
          </div>

        </div>
    </div>

    <div id="follow-us">
        <div class="title">
            <h2>News</h2>
            <p>Stay tuned on Facebook and Twitter</p>
        </div>
        <div class="sns-plugins">
          <div class="sns-container">
            <div class="fb-page"
              data-href="https://www.facebook.com/hkoscon"
              data-width="500"
              data-height="600"
              data-tabs="timeline"
              data-small-header="true"
              data-adapt-container-width="true"
              data-show-facepile="false">
              <blockquote cite="https://www.facebook.com/hkoscon" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/hkoscon">HKOSCon on Facebook</a>
              </blockquote>
            </div>
          </div>
          <div class="separator"></div>
          <div class="sns-container">
            <a class="twitter-timeline"
              data-lang="en"
              data-width="500"
              data-height="600"
              data-theme="light"
              data-link-color="#294454"
              href="https://twitter.com/hkoscon">
              <blockquote cite="https://twitter.com/hkoscon">
                HKOSCon on Twitter
              </blockquote>
            </a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
    </div>

    {% include "sponsorsRegion.jinja" %}

    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ data.site.basePath }}/images/bg2.jpg"></div>
{% endblock %}
