//
// Materialize CSS
// ---------------
//
// * Copied from materialize.css with custom overrides.
// * Please do not remove components from this section.
//   simply comment out the unuseful ones.
//

// Mixins
// @import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// Variables;
//@import "materialize/components/variables";
@import "theme/components/variables";

// Reset
@import "materialize/components/normalize";

// components
@import "materialize/components/global";
@import "materialize/components/badges";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/transitions";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/chips";
@import "materialize/components/materialbox";
@import "materialize/components/forms/forms";
@import "materialize/components/table_of_contents";
//@import "materialize/components/sideNav";
@import "theme/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/carousel";
@import "materialize/components/date_picker/default";
@import "materialize/components/date_picker/default.date";
@import "materialize/components/date_picker/default.time";


//
// HKOSCon 2017 styles
// ---------------------
// Theme specific styles
//
@import "theme/font-awesome";
@import "theme/mixin";
@import "theme/typo";
@import "theme/helper";
@import "theme/depth";
@import "theme/sideNavFix";
@import "theme/navbarCustom";
@import "theme/elements/parallex";
@import "theme/elements/banner";
@import "theme/elements/google-form";
@import "theme/elements/footer";
@import "theme/pages/front";
@import "theme/pages/about";
