{% extends "app.jinja" %}

{% block content %}
<div class="container" style="width: 80%; max-width: 1800px">
  <div id="timetable">

    <div class="day day-1 day-grid">

      <h2 class="title">Day 1</h2>

      <!-- session -->
      <div class="grid-cell">
        9:15 - 10:00
      </div>
      <div class="grid-cell grid-col-10">
        Registration
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        10:00 - 10:30
      </div>
      <div class="grid-cell grid-col-10">
        Opening Speech - Open Source in Hong Kong and Global (Invited Guests)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        10:30 - 11:15
      </div>
      <div class="grid-cell grid-col-10">
        45-min Keynote - Gandi's LiveDNS and new gTLD's (Gandi)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        11:20 - 12:05
      </div>
      <div class="grid-cell grid-col-10">
        45-min Keynote - FinTech with IBM (IBM)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        12:10 - 12:40
      </div>
      <div class="grid-cell grid-col-10">
        30-min Talk - Reserved (Dr. Haggen So)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        12:40 - 13:40
      </div>
      <div class="grid-cell grid-col-10">
        Lunch
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        12:40 - 13:40
      </div>
      <div class="grid-cell grid-col-10">
        30-min Talk - What's New in MySQL 8.0 (Ryusuke Kajiyama) (Oracle)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        13:50 - 14:20
      </div>
      <div class="grid-cell grid-col-5">
        30-min Talk - (To Be Confirmed) (Microsoft)
      </div>
      <div class="grid-cell grid-col-5 grid-row-2">
        70-min Meeting: Global F/OSS Community Gathering (English) (open to public)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        14:30 - 15:00
      </div>
      <div class="grid-cell grid-col-5">
        30-min Talk - (To Be Confirmed) (Microsoft)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        15:00 - 15:30
      </div>
      <div class="grid-cell grid-col-10">
        Afternoon Networking
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        15:30 - 16:00
      </div>
      <div class="grid-cell grid-col-5">
        30-min Talk: A War of File Format -- Why We Select ODF in Taiwan (Franklin Weng)
      </div>
      <div class="grid-cell grid-col-5 grid-row-2">
        70-min Meeting: Local F/OSS Community Gathering (Cantonese) (open to public)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        16:10 - 16:40
      </div>
      <div class="grid-cell grid-col-5">
        30-min Talk - Tips in setting up OpenStack from scratch (Vinnson Lee)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        16:40
      </div>
      <div class="grid-cell grid-col-10">
        Global F/OSS Community Gathering
      </div>
      <!--/ session -->

    </div>

    <div class="day day-2 day-grid">

      <h2 class="title">Day 2</h2>

      <!-- session -->
      <div class="grid-cell">
        9:15 - 10:00
      </div>
      <div class="grid-cell grid-col-10">
        Registration
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        10:00 - 10:30
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk: A Security State of Mind: Continuous Security for DevOps with Kubernetes (Chris Van Tuin)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk: 1000 days of Mozilla Community Space in Taipei (Irvin Chen) (MozTW Community) (Mandarin)
      </div>
      <div class="grid-cell grid-col-2 grid-row-2">
        60-min Workshop - Building web app with open source serverless technology (David Ng, OurSky) (Cantonese)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk - Why BASH? (Daniel Chcouri)
      </div>
      <div class="grid-cell grid-col-2 grid-row-2">
        60-min workshop - Waiting too long for Excel's VLOOKUP? Use SQLite for simple data analysis! (Amanda Lam) (Cantonese)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        10:40 - 11:10
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk: Open CV in Raspberry PI with Camera  (Kazuhiko Inaba, Japan)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk - JavaScript fuzzing in Mozilla, 2017 (Gary Kwong)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk - Blender Interface and 3D-CGI concepts (Ann Leung) (Open Source MultiMedia, Hong Kong) (Cantonese)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        11:10 - 11:30
      </div>
      <div class="grid-cell grid-col-10">
        Morning Break
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        11:30 - 12:00
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk: Reproducible builds: Fulfilling the original promise of free software (Chris Lamb) (Debian)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk - Let's Rust! System programming is awesome again! (Karl Lam) (Cantonese)
      </div>
      <div class="grid-cell grid-col-2 grid-row-3">
        90-min workshop - [Haxe] Build a cross-platform game in Haxe (Andy Li + Kevin Leung) (Haxe Foundation)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk: Free HK Kai Font (Kingman Leung and team) (Education) (Cantonese)
      </div>
      <div class="grid-cell grid-col-2 grid-row-3">
        Unconference
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        12:10 - 12:40
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk - Building a career in Open Source (Vaishali Thakkar) (India)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk - One Year of Rust Microkernel Development (Wei Tang)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk: ezgo for HK：自由的學習系統，本地的楷書字型。 (Eric Sun, Franklin Weng, Kingman Leung) (Education) (Mandarin)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        12:50 - 12:20
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk: PIME - 用 Python 和 JavaScript 快速開發 Windows 的中文輸入法 (PCMan) (Mandarin)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk - Building Artificial Intelligence Units in Rust (Vigneshwer Dhinakaran) (India)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk: 沒有 Powerpoint 的簡報世界 (Franklin Weng) (Education) (Mandarin)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        13:20 - 14:20
      </div>
      <div class="grid-cell grid-col-10">
        Lunch Networking
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        13:20 - 14:20
      </div>
      <div class="grid-cell grid-col-10">
        30-min Keynote: Preparing for the App-ocalypse: The Web in the Age of Physical Computing (Dietrich Ayala) (Mozilla)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        15:00 - 15:30
      </div>
      <div class="grid-cell grid-col-10">
        Lightening Talks
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        15:40 - 16:00
      </div>
      <div class="grid-cell grid-col-10">
        Afternoon Networking
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        16:00 - 16:30
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk - Data In, Elasticsearch Out (Joshua Rich)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk - The deep dive in-and-out of MySQL Group Replication (Ivan Ma) (HK MySQL User Group) (Cantonese)
      </div>
      <div class="grid-cell grid-col-2 grid-row-3">
        90-min workshop - Getting into the virtual world with WebVR/A-Frame (Andy Li, Parvani Ng)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk - Open Street Map (Dennis Chen)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk - Pentest fun with metasploit framework II (Hayden Chung)
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        16:40 - 17:10
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk - This year in #rstats (HK R User Group)
      </div>
      <div class="grid-cell grid-col-2">
        (Reserved by sales team for MS)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk - 軟體訊息本地化前置翻譯工具 (bluebet) (Mandarin)
      </div>
      <div class="grid-cell grid-col-2 grid-row-2">
        Unconference
      </div>
      <!--/ session -->

      <!-- session -->
      <div class="grid-cell">
        17:20 - 17:50
      </div>
      <div class="grid-cell grid-col-2">
        Harnessing social media with R
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk: ZMQ multiplex between golang coroutine and python thread (Rick Mak) (Cantonese)
      </div>
      <div class="grid-cell grid-col-2">
        30-min Talk - AWS Cloud Lab (革新雲端電腦房) (Cyrus Wong) (Cantonese)
      </div>
      <!--/ session -->

    </div>

  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ data.site.basePath }}/js/timetable.js"></script>
<script>
//var timetableControl = timetable(document.getElementById('timetable'));
</script>
{% endblock %}
