{% extends "app.jinja" %}

{% block content %}
<div class="container">
  <div id="timetable">
    <span class="loading">Loading...</span>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ data.site.basePath }}/js/timetable.js"></script>
<script>
var timetableControl = timetable(document.getElementById('timetable'));
</script>
{% endblock %}
