.auto-width {
  width: auto;
}

.blue-theme {
  background-color: $theme-blue !important;
}

.blue-theme-text {
  color: $theme-blue !important;
}

.yellow-theme {
  background-color: $theme-yellow !important;
}

.yellow-theme-text {
  color: $theme-yellow !important;
}
