nav {
  .brand-logo {
    color: #fff;
    @media #{$medium-and-down} {
      font-size: 1.3rem;
    }
  }
  .button-collapse {
    margin: 0;
    padding: 0 20px;
  }
}


[data-position=sidebar] {
  [data-role=auth] {
    color: #000000;
  }

  &[data-mount=auth] {
    text-align: center;
  }
}

[data-role=auth] {
  color: $theme-yellow;
}

[data-role=ticket] a.btn{
  color: $theme-blue;
}
