{% extends "app.jinja" %}

{% block style %}
    <style>
        .map {height: 400px; width: 60%; margin: 2rem auto;}
        .floorplan {width:100%; margin: auto;}
        .browser-default a { text-decoration: underline; }
    </style>
{% endblock %}

{% block script %}
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&language=en-GB&key=AIzaSyBZeXvM0RoipSCrmp_q1WRX1hMtnu77ges" defer></script>
    <script src="{{ data.site.basePath }}/venue.js" defer></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>
            City University of Hong Kong, Kowloon Tong, Hong Kong.
            <br>
            香港九龍達之路83號香港城市大學
        </h3>
    </div>
    <div id="map" class="map"></div>

    <!--
    <div class="container">
        <h2>Shuttle Bus Service</h2>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header">
                            <h2 class="title-text headline">From Admiralty Center To Cyberport</h2>
                        </div>
                        <div class="content">
                            3 buses departs from Admiralty Centre 海富中心 (near McDonald) at <strong>09:00</strong>.
                            The last bus would leave on <strong>09:10</strong>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header">
                            <h2 class="title-text headline">From Cyberport To Admiralty Center</h2>
                        </div>
                        <div class="content">
                            3 buses departs from Cyberport at the end of the day.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->

    <div class="container">
        <h2>Public Transport</h2>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header">
                            <h2 class="title-text headline">MTR Kwun Tong Line</h2>
                        </div>
                        <div class="content">
                            <ul class="browser-default">
                                <li>
                                    Get off at Kowloon Tong station, find Exit C and take Exit C2
                                </li>
                                <li>
                                    Get off at Shek Kip Mei station, find Exit B and take Exit B2
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header">
                            <h2 class="title-text headline">MTR East Rail Line</h2>
                        </div>
                        <div class="content">
                            <ul class="browser-default">
                                <li>
                                    Get off at Kowloon Tong station
                                    <ul class="browser-default">
                                      <li>Travelling from North to South, take Exit G2</li>
                                      <li>Travelling from South to North, take Exit H</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header">
                            <h2 class="title-text headline">Floor Plan</h2>
                        </div>
                        <div>
                            <img src="{{ data.site.basePath }}/images/floorplan.svg" id="floorplan-svg" class="floorplan" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
{% endblock %}
