{% extends "app.jinja" %}

{% block style %}
    <style>
        .map {height: 400px; width: 60%; margin: 2rem auto;}
        .floorplan {width:100%; margin: auto;}
        .browser-default a { text-decoration: underline; }
    </style>
{% endblock %}

{% block script %}
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&language=en-GB&key=AIzaSyAcfOIRBkjKYl6ryd-HqoJvoaOva7E1Al4" defer></script>
    <script src="{{ data.site.basePath }}/venue.js" defer></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>
            Cyberport 3, 100 Cyberport Road, Telegraph Bay
            <br>
            香港數碼港道100號數碼港三座
        </h3>
    </div>
    <div id="map" class="map"></div>

    <div class="container">
        <h2>Shuttle Bus Service</h2>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header">
                            <h2 class="title-text headline">From Admiralty Center To Cyberport</h2>
                        </div>
                        <div class="content">
                            3 buses departs from Admiralty Centre 海富中心 (near McDonald) at <strong>09:00</strong>.
                            The last bus would leave on <strong>09:10</strong>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header">
                            <h2 class="title-text headline">From Cyberport To Admiralty Center</h2>
                        </div>
                        <div class="content">
                            3 buses departs from Cyberport at the end of the day.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Public Transport</h2>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header">
                            <h2 class="title-text headline">Bus Transportation</h2>
                        </div>
                        <div class="content">
                            <ul class="browser-default">
                                <li>
                                    30X Central (via Pok Fu Lam, Wah Fu)
                                    <a href="https://file.hkoscon.org/download/30x.pdf" target="_blank">
                                        Detail
                                    </a>
                                </li>
                                <li>
                                    73 Stanley (via Repulse Bay, Wong Chuk Hang, Aberdeen, Wah Fu)
                                    <a href="https://file.hkoscon.org/download/73.pdf" target="_blank">
                                        Detail
                                    </a>
                                </li>
                                <li>
                                    970 So Uk Estate (via Sham Shui Po, Prince Edward, Mong Kok, Yau Ma Tei, Jordan)
                                    <a href="https://file.hkoscon.org/download/970.pdf" target="_blank">
                                        Detail
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header">
                            <h2 class="title-text headline">Minibus Transportation</h2>
                        </div>
                        <div class="content">
                            <ul class="browser-default">
                                <li>10 Causeway Bay (Jaffe Road)</li>
                                <li>58 Aberdeen - Cyberport - Kennedy Town (North Street)</li>
                                <li>69 Quarry Bay (Hoi Chak Street)</li>
                                <li>69A Aberdeen Main Road (outside St. Peter Secondary School)</li>
                                <li>69X Causeway Bay (Lockhart Road)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header">
                            <h2 class="title-text headline">Floor Plan</h2>
                        </div>
                        <div>
                            <img src="{{ data.site.basePath }}/images/floorplan.svg" id="floorplan-svg" class="floorplan" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
