.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 8px;
  @extend .depth-1;
  .title {
    padding: 24px 16px 16px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;

    .title-text {
      flex: 1;
      flex-direction: column;
      display: flex;
    }
  }

  .content {
    padding: 16px;
    padding-top: 0 !important;
    display: block;
    font-size: 16px;
    > * {
      font-size: 1.5em;
    }
    p {
      margin: 0.8em 0;

      a.link {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}