{% extends "app.jinja" %}

{% block content %}
    <div class="container">
        <h2>Organizers</h2>
        <div class="row">
            <div class="col s12 l6">
                <a href="https://cota.hk" target="_blank">
                    <div class="card"><div class="card-content">
                        <div class="logo-wrapper">
                            <img class="responsive-img" src="https://file.hkoscon.org/organizer/cota.png"
                              alt="Hong Kong Creative Open Technology Association" />
                        </div>
                        <div class="content">
                            <p class="center">Hong Kong Creative Open Technology Association</p>
                        </div>
                    </div></div>
                </a>
            </div>
            <div class="col s12 l6">
                <a href="https://opensource.hk" target="_blank">
                    <div class="card"><div class="card-content">
                        <div class="logo-wrapper">
                            <img class="responsive-img" src="https://file.hkoscon.org/organizer/oshk.png"
                              alt="Open Source Hong Kong" />
                        </div>
                        <div class="content">
                            <p class="center">Open Source Hong Kong</p>
                        </div>
                    </div></div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
