{% extends "app.jinja" %}

{% block content %}
    <div class="container">
        <h3>Organizers</h3>
        <div class="row">
            <div class="col s12 l4">
                <div class="card">
                    <a href="https://cota.hk" target="_blank">
                        <div class="image">
                            <img src="https://file.hkoscon.org/organizer/cota.png">
                        </div>
                        <div class="content">
                            <h4 class="center">Hong Kong Creative Open Technology Association</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="card">
                    <a href="https://opensource.hk" target="_blank">
                        <div class="image">
                            <img src="https://file.hkoscon.org/organizer/oshk.png">
                        </div>
                        <div class="content">
                            <h4 class="center">Open Source Hong Kong</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="card">
                    <a href="http://linux.org.hk" target="_blank">
                        <div class="image">
                            <img src="https://file.hkoscon.org/organizer/hklug.jpg">
                        </div>
                        <div class="content">
                            <h4 class="center">Hong Kong Linux User Group</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <h3>Support Organizers</h3>
        <div class="row">
            <div class="col s12 m6   l3">
                <div class="card">
                    <div class="image">
                        <img src="https://file.hkoscon.org/support/sitcon.png">
                    </div>
                    <div class="content">
                        <h4 class="center">SITCON x HK</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}