{% extends "app.jinja" %}

{% block script %}
    <script src="{{ data.site.basePath }}/js/staff.js" defer></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Staff</h3>
        <ul class="collapsible popout" data-collapsible="expandable">
          {% for team in data.staff.teams %}
          <li>
              <div class="collapsible-header active">{{team.name}}</div>
              <div class="collapsible-body">
                  <ul class="collection">
                      {% for member in team.members %}
                      <li class="collection-item" data-email="{{member.email}}">
                          <img src="" alt="{{member.name}}" class="avatar" >
                          {{ member.name }} {% if member.teamlead %} (Team Lead) {% endif %}
                      </li>
                      {% endfor %}
                  </ul>
              </div>
          </li>
          {% endfor %}
        </ul>
    </div>
{% endblock %}
