#banner {
  background-image: url('./images/pycon-keyvisual.jpg');
  min-height: 400px;
  background-repeat: no-repeat;

  .container {
    padding-top: 20px;
  }

  .logo {
    width: 300px;
    @extend .center
  }
}
