.document-content {
  h2 {
      margin: 2em 0 1em;
      padding: 0 0 0.5em;
      border-style: solid;
      border-color: rgba(0,0,0,0.1);
      border-width: 0 0 1px;
  }
  h3 {
    margin: 1.5em 0 1em;
    color: rgba(0,0,0,0.6);
  }
  .container .content {
    padding: 2em 0 6em;
    ul {
      padding-left: 1em;
      li {
        list-style-type: disc;
        margin-left: 1em;
      }
    }
    .checklist {
      li {
        list-style-type: none;
        margin-left: 0;
      }
      li:before {
        @extend .fa;
        content: "\f00c";
        margin-right: .5em;
        color: #0A0;
      }
    }
  }
  .footnote {
    color: rgba(0,0,0,0.5);
  }
}
