.page-footer {
  .contacts {
    color: #FFF;
    text-align: center;
    font-size: 1.5em;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline;
        padding: 0;
        a {
          display: inline-block;
          margin: .5em;
          transition: color .5s;
          padding: .5em;
          &:hover{
            color: $theme-yellow;
          }
        }
      }
    }
  }
  .copyright {
    padding: 0.5em 0 3em;
    color: #FFF;
    font-size: 1.3em;
    text-align: center;
    .cc-logo {
      display: block;
    }
    .cc-info {
      display: block;
    }
    .extras {
      display: block;
    }
  }
}
