$grid-border: solid 1px #EEE;
.page--schedule {
  main {
    min-height: 600px;
    min-height: 80vh;
    .loading {
      display: block;
      padding: 25vh 0;
      font-size: 20pt;
    }
  }
  .time-grid {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .grid {
    border-bottom: $grid-border;
    border-top: $grid-border;
    padding: 0.5rem;
  }

  .topic-grid {
    &:hover {
      background-color: rgba(253, 214, 17, 0.3);
    }
    .session-title {
    }
    .session-details {
      font-size: 75%;
      color: rgba(0, 0, 0, 0.4);
      .speaker {
        font-weight: bolder;
        color: lighten($theme-blue, 20%);
      }
    }
  }
}

@media #{$large-and-up} {
  .page--schedule .grid {
    border-left: $grid-border;
    border-right: $grid-border;
    border-top: none;
    border-bottom: none;
  }
}
$day-title-height: 1.5em;
$day-title-padding: 50px;

.day {
  .row {
    margin-bottom: 0;
  }
  .title {
    position: sticky;
    top: 64px;
    //background-color: #AFA;
    z-index: 1;
    background-color: #FFF;
    grid-column-end: span 11;
    margin: 0;
    padding: 1.5rem 0.5rem;
    line-height: 1.2rem;
    height: 1.2rem;
  }
  a.grid-cell {
    transition: all .5s;
    background-color: rgba(255, 255, 200, 0);
    width: 100%;
    height: 100%;
    &:hover {
      background-color: rgba(255, 255, 200, 0.8);
    }
  }
}

.day-1 {
  grid-template-rows: minmax(80px,auto) repeat(12, minmax(80px,auto));
}

.day-2 {
  grid-template-rows: minmax(80px,auto) repeat(16, minmax(80px,auto));
}
