.page--schedule {
  main {
    min-height: 600px;
    min-height: 80vh;
    .loading {
      display: block;
      padding: 25vh 0;
      font-size: 20pt;
    }
  }
  .time-grid {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .grid {
    border: solid 1px lighten($theme-blue, 60%);
    padding: 0.5rem;

    -webkit-box-flex: 0;
    -moz-box-flex: 0;
  }

  .row {
    min-height: 7rem;
    margin-bottom: 0;
  }

  .topic-grid:hover {
    background-color: rgba(253, 214, 17, 0.4);
  }

  .session-grid, .topic-grid, .title {
    color: rgba(0, 0, 0, 0.8)
  }

  .session-details {
    font-size: 75%;
    color: rgba(0, 0, 0, 0.4);
    .speaker {
      font-weight: bolder;
      color: lighten($theme-blue, 20%);
    }
  }

  .title {
    position: sticky;
    top: $navbar-height-mobile;
    background-color: lighten($theme-yellow, 10%);
    color: $theme-blue;
    z-index: 1;
    grid-column-end: span 11;
    margin: 0 -1rem;
    line-height: 1.2rem;
    height: 1.2rem;
    border-radius: 5px;
    padding: 1.5rem;
  }
  a.grid-cell {
    transition: all .5s;
    background-color: rgba(255, 255, 200, 0);
    width: 100%;
    height: 100%;
    &:hover {
      background-color: rgba(255, 255, 200, 0.8);
    }
  }

  .day-1 {
    grid-template-rows: minmax(80px,auto) repeat(12, minmax(80px,auto));
  }

  .day-2 {
    grid-template-rows: minmax(80px,auto) repeat(16, minmax(80px,auto));
  }

  .day {
    margin: 1rem auto;
  }

  .modal .row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    .col {
      padding-bottom: 1rem;
    }
  }
}

@media #{$large-and-up} {
  .page--schedule {
    .row {
      display: flex;
    }
    .title {
      padding: 1.5rem 1.5rem 2rem;
      top: $navbar-height-mobile + 8px;
    }
  }
}
