.page--schedule {
  main {
    min-height: 600px;
    min-height: 80vh;
    .loading {
      display: block;
      padding: 25vh 0;
      font-size: 20pt;
    }
  }
  .time-grid {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .grid {
    border: solid 1px rgba(0, 0, 0, 0.05);
    padding: 0.5rem;

    -webkit-box-flex: 0;
    -moz-box-flex: 0;
  }

  .row {
    min-height: 7rem;
    margin-bottom: 0;
  }

  .session-grid, .topic-grid, .title {
    color: rgba(0, 0, 0, 0.8)
  }

  .session-grid {
    transition: all 0.5s;
    background-color: rgba(240, 240, 255, 0);
    &:hover {
      background-color: rgba(245, 245, 255, 1);
    }
  }

  .session-details {
    font-size: 75%;
    color: rgba(0, 0, 0, 0.4);
    .speaker {
      font-weight: bolder;
      color: lighten($theme-blue, 20%);
    }
  }

  .title {
    position: sticky;
    top: $navbar-height-mobile;
    background-color: rgba(240, 240, 240, 1);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 16px -6px gray;
    color: $theme-blue;
    z-index: 1;
    grid-column-end: span 11;
    margin: 0 -1rem;
    padding: 1.8rem 1.5rem 1.5rem;
  }
  a.topic-grid {
    transition: all 0.5s;
    background-color: rgba(253, 214, 17, 0);
    &:hover {
      background-color: rgba(253, 214, 17, 0.4);
    }
  }

  .day-1 {
    grid-template-rows: minmax(80px,auto) repeat(12, minmax(80px,auto));
  }

  .day-2 {
    grid-template-rows: minmax(80px,auto) repeat(16, minmax(80px,auto));
  }

  .day {
    margin: 1rem auto;
  }

  .modal {
    .row {
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
      .col {
        padding-bottom: 1rem;
      }
      img {
        width: 100%;
      }
    }
    .fixed-action-btn {
      bottom: 3.5rem;
    }
  }
}

@media #{$large-and-up} {
  .page--schedule {
    .row {
      display: flex;
    }
    .title {
      top: $navbar-height-mobile + 8px;
    }
  }
}
