.page--sponsor {
  .theme-area {
    background-image: url('./images/page-sponsor-theme.png');
    background-size: cover;
    background-position: center center;
  }

  @extend .document-content;

  .sponsor-types {
    width: 90%;
    max-width: 1080px;
    @media #{$small-and-down} {
      width: 100%;
      display: block;
    }
    .btn {
      color: $theme-blue;
    }
    .sponsor-type {
      background-color: rgba(255,255,255,.9);
      @extend .z-depth-2;
      padding: 1em 1em 2em 1em;
      margin-bottom: 5vh;
      p.logo {
        margin: 2em 0 1em 1em;
        img {
          width: 100%;
          height: 100%;
        }
      }

      h3 {
        font-size: 1.6em;
        color: #000;
      }

      a.company-link {
          font-weight: bolder;
          color: #4a7b99;
      }

      @media #{$small-and-down} {
        .description div {
          text-align: center;
        }
      }
    }
   }
}
